<!DOCTYPE html>
<html>
  <head>
    <title>SeleniumExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div style="position: relative;">
      <div style="position: absolute;">
        <md-dialog open>
          <div slot="content">
            <label for="field">
              Field
            </label>

            <input id="field" type="text" />
         </div>
        </md-dialog>
      </div>
    </div>
  </body>
</html>
